# Understanding Pandas Series and DataFrames - Lab

## Introduction

In this lab, let's get some hands-on practice working with data cleanup using Pandas.

## Objectives
You will be able to:

- Use the `.map()` and `.apply()` methods to apply a function to a pandas Series or DataFrame 
- Perform operations to change the structure of pandas DataFrames 
- Change the index of a pandas DataFrame 
- Change data types of columns in pandas DataFrames 

## Let's get started 

Import the file `'turnstile_180901.txt'`.

In [31]:
# Import the required libraries
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [32]:
# Import the file 'turnstile_180901.txt'
df = pd.read_csv('turnstile_180901.txt')

# Print the number of rows ans columns in df
print(df.shape)

# Print the first five rows of df
df.head()

(197625, 11)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

Rename all the columns to lower case:

In [33]:
# We can check and see what the columns look like with this code:
df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [34]:
# Rename all the columns to lower case
df.columns = df.columns.str.lower()

In [35]:
# Now let's check and make sure that worked
df.columns

Index(['c/a', 'unit', 'scp', 'station', 'linename', 'division', 'date', 'time',
       'desc', 'entries',
       'exits                                                               '],
      dtype='object')

Change the index to `'linename'`:

In [39]:
# Change the index to 'linename'
df = df.set_index('linename')
df.head()

KeyError: "None of ['linename'] are in the columns"

Reset the index:

In [40]:
# Reset the index
df.reset_index()

,linename,c/a,unit,scp,station,division,date,time,desc,entries,exits
0,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384
...,...,...,...,...,...,...,...,...,...,...,...
197620,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/31/2018,05:00:00,REGULAR,5554,348
197621,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/31/2018,09:00:00,REGULAR,5554,348
197622,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/31/2018,13:00:00,REGULAR,5554,348
197623,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/31/2018,17:00:00,REGULAR,5554,348
197624,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/31/2018,21:00:00,REGULAR,5554,348

Create another column `'Num_Lines'` that is a count of how many lines pass through a station. Then sort your DataFrame by this column in descending order. 

*Hint: According to the [data dictionary](http://web.mta.info/developers/resources/nyct/turnstile/ts_Field_Description.txt), LINENAME represents all train lines that can be boarded at a given station. Normally lines are represented by one character. For example, LINENAME 456NQR represents trains 4, 5, 6, N, Q, and R.*

In [52]:
# Add a new 'num_lines' column
# Create the 'Num_Lines' column by counting the number of lines in 'LINENAME'
df['Num_Lines'] = df['LINENAME'].apply(lambda x: len(x))
# Sort the DataFrame by 'Num_Lines' in descending order
df_sorted = df.sort_values(by='Num_Lines', ascending=False)
#Print the sorted DataFrame 
print(df_sorted)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

Write a function to clean column names:

In [53]:
# Before we start cleaning, let's look at what we've got

df.columns

Index([['c/a', 'unit', 'scp', 'station', 'division', 'date', 'time', 'desc', 'entries', 'exits'],
       ['c/a', 'unit', 'scp', 'station', 'division', 'date', 'time', 'desc', 'entries', 'exits'],
       ['c/a', 'unit', 'scp', 'station', 'division', 'date', 'time', 'desc', 'entries', 'exits'],
       ['c/a', 'unit', 'scp', 'station', 'division', 'date', 'time', 'desc', 'entries', 'exits'],
       ['c/a', 'unit', 'scp', 'station', 'division', 'date', 'time', 'desc', 'entries', 'exits'],
       ['c/a', 'unit', 'scp', 'station', 'division', 'date', 'time', 'desc', 'entries', 'exits'],
       ['c/a', 'unit', 'scp', 'station', 'division', 'date', 'time', 'desc', 'entries', 'exits'],
       ['c/a', 'unit', 'scp', 'station', 'division', 'date', 'time', 'desc', 'entries', 'exits'],
       ['c/a', 'unit', 'scp', 'station', 'division', 'date', 'time', 'desc', 'entries', 'exits'],
       ['c/a', 'unit', 'scp', 'station', 'division', 'date', 'time', 'desc', 'entries', 'exits']],
      dtype='object')

In [54]:
def clean(col_name):
    # Clean the column name in any way you want to. Hint: think back to str methods 
    cleaned = df.columns.str.strip()
    return cleaned

In [55]:
# Use the above function to clean the column names
df.columns = df.columns.map(clean)

In [56]:
# Check to ensure the column names were cleaned
df.columns

Index([[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]],
      dtype='object')

- Change the data type of the `'date'` column to a date 
- Add a new column `'day_of_week'` that represents the day of the week

In [60]:
# Convert the data type of the 'date' column to a date
pd.to_datetime(df['date'],format = '%m/%d/%Y')

# Add a new column 'day_of_week' that represents the day of the week 
df['day_of_week'] = df['date'].dt.day_name()

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [61]:
# Group the data by day of week and plot the sum of the numeric columns
grouped = df.groupby('day_of_week').sum(numeric_only = True)
grouped.plot(kind='barh')
plt.show()

KeyError: 'day_of_week'

- Remove the index of `grouped` 
- Print the first five rows of `grouped`

In [ ]:
# Reset the index of grouped
grouped = None

# Print the first five rows of grouped

Add a new column `'is_weekend'` that maps the `'day_of_week'` column using the dictionary `weekend_map`

In [ ]:
# Use this dictionary to create a new column 
weekend_map = {0:False, 1:False, 2:False, 3:False, 4:False, 5:True, 6:True}

# Add a new column 'is_weekend' that maps the 'day_of_week' column using weekend_map
grouped['is_weekend'] = grouped['day_of_week'].map(weekend_map)

In [ ]:
# Group the data by weekend/weekday and plot the sum of the numeric columns
wkend = grouped.groupby('is_weekend').sum(numeric_only = True)
wkend[['entries', 'exits']].plot(kind='barh')
plt.show()

Remove the `'c/a'` and `'scp'` columns.

In [ ]:
# Remove the 'c/a' and 'scp' columns
df = None
df.head(2)

## Analysis Question 

What is misleading about the day of week and weekend/weekday charts you just plotted?

In [ ]:
# Your answer here

## Summary

You practiced your data cleanup skills using Pandas.